*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: aquamarine;
}

input {
  font-size: 36px;
  max-width: 100px;
  text-align: center;
  border: none;
  margin-bottom: 5px;
}

.container {
  max-width: 550px;
  height: 700px;
  margin: 100px auto;
  padding: 45px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 35px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.print-parameters {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 13px;
  text-align: center;
}

.print-parameters__inner {
  display: flex;
  justify-content: center;
  /* gap: 30px; */
}

.print-parameters__hours,
.print-parameters__minutes {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.print-parameters__hours {
  padding-right: 10px;
}

.print-parameters__minutes {
  padding-left: 10px;
}

.detail-weight {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.material {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material .subtitle {
  margin-bottom: 18px;
}

.material select {
  width: 120px;
  height: 50px;
  font-size: 28px;
  padding-left: 11px;
  background-color: beige;
  border: none;
  border-radius: 15px;
}

.materials__item {
  font-size: 18px;
  border: none;
}

.profit {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
}

.profit__inner {
  display: flex;
  justify-content: space-around;
}

.profit__percent,
.profit__uah {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.profit__percent {
  padding-right: 10px;
}

.profit__uah {
  padding-right: 10px;
}

.cost__inner {
  display: flex;
  justify-content: space-around;
}

.first-cost,
.cost {
  padding: 15px 45px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-cost h4,
.cost h4 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
}

@media screen and (max-device-width: 550px) {
  .container {
  margin: 50px auto;
  padding: 20px;
  }

  .wrapper{
    padding: 0 20px;
  }
}

@media screen and (max-device-width: 475px) {
  .container {
  padding: 0px;
  }

  .wrapper{
    padding: 0 15px;
  }
}

@media screen and (max-device-width: 425px) {
  .container {
  margin: 10px 0;
  }
  .wrapper{
    flex-direction: column;
    padding: 0 30px;
    row-gap: 20px;
  }
}